.login {
  display: flex;
  justify-content: center;
  border: 6px solid black;
  background-color: #462B01;
}

.login-panel {
  display: flex;
  flex-wrap: wrap column;
  align-content: flex-start;

  background-color: lightcoral;
  border: 4px solid blue;

  font-size: 5rem;
  padding: 1rem;
}

.input-group {
  display: flex;
  flex-direction: row;

  text-align: center;
  border-radius: 0.3rem;

  border: 0.4rem solid darkslategray;
  color: black;

  & input, span {
    padding: 0.5rem;
    
    border: none;
  }

  & input {
    flex-grow: 2;
  
    background-color: #f5deb3;
  }

  & input:focus {
    outline: none;
  }

  & span {
    background-color: lightblue;
    color: darkslategray
  }
  .corner-span {
    border: none;
    color: darkslategray;

    &_error {
      background-color: darkred;
    }

    &_success {
      background-color: darkgreen;
    }
  }
}

.random-tree {  
  display: flex;
  text-align: center;

  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 2rem 0.4rem 0.4rem;

  border: 0.4rem solid darkslategray;
  color: black;
  background-color: white;

  justify-content: center;
  align-items: center;

  cursor: pointer;


  & img {
    display: flex
  }
}

// @include respond (big-desktop) {
//   grid-column: 2 / -1;
//   grid-template-columns: repeat(10, 1fr);
//   padding: 2rem 2rem 0rem 2rem;
// }